<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JewelSteps_BarcodePrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JewelSteps_BarcodePrinter.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ZPL" serializeAs="String">
                <value />
            </setting>
            <setting name="connectionType" serializeAs="String">
                <value />
            </setting>
            <setting name="BranchId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printerName" serializeAs="String">
                <value />
            </setting>
            <setting name="ZPLDIAMOND" serializeAs="String">
                <value />
            </setting>
            <setting name="ZPLSILVER" serializeAs="String">
                <value />
            </setting>
            <setting name="ZPLIMITATIONWATCHES" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelSavePath" serializeAs="String">
                <value>C:\Users\Admin\Documents\GitHub\Jewelsteps_BarcodePrinterWndowApplication\bin\Debug\net8.0-windows7.0\ExcelFile</value>
            </setting>
            <setting name="PTR" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintOrientation" serializeAs="String">
                <value />
            </setting>
            <setting name="ZPLPLATINUM" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
        </JewelSteps_BarcodePrinter.Properties.Settings>
    </userSettings>
</configuration>